version: '3'

services:
  project-management-app:
    build: .
    container_name: project-management-app
    restart: always
    expose:
      - "80"

  caddy:
    image: caddy:2-alpine
    container_name: caddy-https
    restart: unless-stopped
    ports:
      - "80:80" # HTTP Redirect
      - "443:443" # HTTPS
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./certs:/etc/caddy/certs
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - project-management-app

volumes:
  caddy_data:
  caddy_config:
